{% load dv_extend %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" {% block html %}id="base"{% endblock %}>
    <head>
        {% block earlyheadblock %}{% endblock %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}themes/base.css" type="text/css" />
        <link rel="stylesheet" href="{% css user %}" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ MEDIA_URL }}favicon.ico" />
        <title>{% block title %}Welcome{% endblock %} - {% site_name %}</title>
        <meta name="Description" content="Demovibes Demoscene Radio - your 24/7 source of demoscene music" />
        <meta name="Keywords" content="demoscene, demo scene, scene music, scenemusic, radio, stream, streaming, demovibes, demo vibes, nectarine, necta" />
        <script src="{{ MEDIA_URL }}js/dutils.js" type="text/JavaScript"></script>
        <script src="{{ MEDIA_URL }}js/dobject.js?3" type="text/JavaScript"></script>
        <script src="{{ MEDIA_URL }}js/dtabcomplete.js" type="text/JavaScript"></script>
        <script src="{{ MEDIA_URL }}js/jquery.qtip.min.js?2" type="text/JavaScript"></script>
        <script src="{{ MEDIA_URL }}js/sort/tablesort.min.js" type="text/JavaScript"></script>
        <script src="{{ MEDIA_URL }}js/jquery/popup.js" type="text/JavaScript"></script>
        <script>
            STATIC_URL = "{{ MEDIA_URL }}";
        </script>

        {% block headblock %}{% endblock %}
    </head>

    <body {% block bodyid %}id="site"{% endblock %} onload="ajaxmonitor({% ajaxevent %});" onunload="ajaxmonitorabort();">
        {% block content %}{% endblock %}
    </body>
</html>
