# example demosauce configuration file
# lines starting with # are comments

# declare conf file version
config_version          = 34
# location of the demovibes server
demovibes_host          = localhost
demovibes_port          = 32167

# encoder settings
encoder_samplerate      = 44100
encoder_bitrate         = 192
encoder_channels        = 2

# connection to icecast server
cast_host               = localhost
cast_port               = 8000
cast_mount              = stream
cast_password           = hackme
cast_name               = name of radio
cast_url                = http://your.url/
cast_genre              = music
cast_description        = this is a nice online radio, also maep is a ruler

# remote contol settings
# note: you can only connect from localhost
remote_enable           = 1
remote_port             = 1911

# error title to appear
error_title             = GURU MEDITATION

# to prevent old logs from being overwritten, logfiles can be created with a date.
# see manpage of strftime for time formatting options
# the log level can be debug, info, warn, error, fatal, off
log_file                = demosauce_%Y-%m-%d_%H:%M.log
log_file_level          = warn
log_console_level       = warn

