{% extends "base/base.html" %}
{% import "macro/display.html" as display %}
{% block title %}{{ gettext("Artists") }}{% endblock %}

{% block main %}
    <h2>
        <img class="icon_header" src="{{ STATIC_URL }}user_green.png" alt="" />
        {{ gettext(list_title) }}
    </h2>
    
    {% for l in al %}
        <a href="{{ url (letter_url_name, l) }}">
            {{ l|upper }}
        </a>
    {% endfor %}
        
    [<a href="{{ url(all_url_name) }}">{{ gettext("All Artists") }}</a>]
        
    <br /><br />
    
    {% set objs, paging = dv.paginate(object_list) %}
    
    {% for artist in objs %}
        {{ display.artist(artist) }}
    
        {% if desc_function %}
            {{ desc_function(artist)|e }}
        {% endif %}
    
        <br />
    {% endfor %}
    
    <br />
    {{ paging }}
    <br />
    
    {{ gettext("Not Finding Who You're Looking For?") }}
    <a href="{{ url("dv-createartist") }}">
        {{ gettext("Suggest A New Artist!") }}
    </a>
    <br />
{% endblock %}
