{% extends "base/base.html" %}

{% block title %}{{ gettext("Create New Group") }}{% endblock %}

{% block main %}
<h2><img class="icon_header" src="{{ STATIC_URL }}group.png" alt="" />{{ gettext("Create New Group") }}</h2>
<p>{{ gettext("Use this form to create a new group. All entries are checked by a moderator before being approved. Please try to fill in as much information as you can about the entry to make the job easier on the moderators. We strongly reccomend that you search for your group before making a new entry. If you have any questions, please ask a moderator.") }}</p>

<br />

<form action="." method="post" enctype="multipart/form-data">
<table>
{{ form.as_table() }}
</table>
{{ links }}
<input type="submit" value="{{ gettext("Send Group Request") }}" />
</form>
<br />
<strong>*</strong> - {{ gettext("Fields marked with a * are required") }}<br />
{% endblock %}

