{% extends "base/base.html" %}
{% import "macro/display.html" as display -%}
{% block title %}{{ gettext("Users online") }}{% endblock %}

{% block main %}
<h2>{{ gettext("Users seen the last 5 minutes") }}</h2>
{{ ngettext("There is a total of %(num)d user online now.", "There are a total of %(num)d users online now.", userlist|count) }}
<table>
    <tr>
        <th>{{ gettext("User") }}</th>
        <th>{{ gettext("Last seen") }}</th>
    </tr>
{% for profile in userlist %}
<tr>
    <td>
        {{ display.user(profile.user) }}
    </td>
    <td>
        {{ profile.last_activity|timesince }} {{ gettext("ago") }}
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
