{% extends "base/base.html" %}

{% block title %}{{ gettext("Audio Streams") }}{% endblock %}

{% block main %}
<h2>{{ dv.site_name() }} {{ gettext("Audio Streams") }}</h2>
{% include "webview/stream_instructions.html" %}
<br />
{% for stream in object_list %}
<div class="bubbleInfo">
    {{ dv.flag(stream.country_code) }} <a href="{{ stream.url|e }}" class="trigger">{{stream.name|e}}</a> ({{ stream.bitrate }} kbps {{ stream.get_streamtype_display() }})
<div class="popup">
    <b>{{ gettext("Stream Name") }}:</b> {{ dv.flag(stream.country_code) }} {{stream.name|e}}<br />
    <b>{{ gettext("Direct Stream Link") }}:</b> <a href="{{ stream.url|e }}">{{stream.name|e}}</a><br />
    {% if stream.streamtype != 'S' %}<b>{{ gettext("PlayList File") }}:</b> <a href="{{ stream.url|e }}.m3u">M3U</a><br />{% endif %}
    <b>{{ gettext("Stream Info") }}:</b> {{ stream.get_streamtype_display() }} - {{ stream.bitrate }} kbps<br />
    {% if stream.description %}{{ stream.description|urlize|linebreaks }}{% endif %}
    </div>
</div><br/>
{% endfor %}

<h2>{{ gettext("Recommended Players") }}</h2>
<p>{{ gettext("The audio streams can be played on many different programs and platforms, including:") }}:</p>

<a href="https://winamp.com/" target="_blank">Winamp</a> (Windows Only)<br />
<a href="https://www.foobar2000.org/" target="_blank">Foobar2k</a> (Windows, Mac, iOs, Android & More!)<br />
<a href="https://www.videolan.org/" target="_blank">VLC</a> (Windows, Mac, Linux, iOS and Android)<br />
<a href="http://www.mplayerhq.hu/design7/news.html" target="_blank">Mplayer</a> (Windows, Mac, Linux)<br />
<a href="https://audacious-media-player.org/" target="_blank">Audacious</a> (Windows, Mac, Linux)<br />
<a href="https://www.un4seen.com/xmplay.html" target="_blank">XMPlay</a> (Windows, Linux, Mac & More)<br />
{% endblock %}

