AlignAfterOpenBracket:                      Align
AlignConsecutiveAssignments:                true
AlignConsecutiveDeclarations:               true
AlignEscapedNewlinesLeft:                   Left
AlignOperands:                              true
AlignTrailingComments:                      true
AllowAllParametersOfDeclarationOnNextLine:  false
AllowShortFunctionsOnASingleLine:           All
AllowShortIfStatementsOnASingleLine:        false
AllowShortLoopsOnASingleLine:               false
BinPackArguments:                           true
BinPackParameters:                          true
BreakBeforeBraces:                          Linux
ColumnLimit:                                120
ContinuationIndentWidth:                    4
IndentCaseLabels:                           false
IndentWidth:                                4
IncludeBlocks:                              Regroup
Language:                                   Cpp
MaxEmptyLinesToKeep:                        1
PointerAlignment:                           Left
SortIncludes:                               false
SpaceAfterCStyleCast:                       false
UseTab:                                     Never
