body { width: 99%; overflow-x: hidden }

#site { width: 100%; }
#chatbox-main {
	width: 70%;
	float: left;
	padding: 10px;
}

#chatbox-column {
	width: 20%;
	float: right;
	padding: 10px;
}

#userlist {
	max-height: 300px;
	overflow-y: scroll;
}

#blah { width: 100%; }
