{% extends "base/base.html" %}

{% block title %}Group Info For {{ object.name }}{% endblock %}

{% block main %}
{% load dv_extend %}<h2><img class="icon_header" {% if object.group_icon %}src="{{ object.group_icon.url }}"{% else %}src="{{ MEDIA_URL }}group.png"{% endif %} alt="" />Group Information For {{ object.name }} {% if user.is_staff %} [<a href="/admin/webview/group/{{ object.id }}/">Edit Info</a>]{% endif %}</h2>

<table>
<tr>
<td class="group_summary">
{% if object.group_logo %}<img class="group_logo" src="{{ object.group_logo.url }}">{% else %}<img class="group_logo" src="{{ MEDIA_URL }}no_picture.png" />{% endif %}
<br /><strong>{{ object.name }}</strong><br />{% if object.found_date %}(Founded On: {{object.found_date|date:"F j, Y" }}){% endif %}<br />

{% if object.webpage %}<a href="{{ object.webpage }}" target="_blank">Visit Group's Website</a><br />{% endif %}
{% if object.pouetid %}<a href="http://www.pouet.net/groups.php?which={{ object.pouetid }}" target="_blank">Pouet Link</a><br />{% endif %}
{% if object.last_updated %}Last Updated: {{ object.last_updated|date:"F j, Y" }}<br />{% endif %}
{% if object.created_by %}Added By: {% with object.created_by as U %}{% include "webview/t/user.html" %}{% endwith %}<br />{% endif %}
</td>
<td class="group_description">
{% if object.info %}
<p><i>{{ object.info|urlize|bbcode|linebreaks }}</i></p>
{% endif %}<br />

{% ifnotequal object.artist_set.count 0 %}
 <b>Active Group Members:</b><br />
 {% for artist in object.artist_set.all %}
  {% with artist as A %}{% include "webview/t/artist.html" %}{% endwith %}<br />
 {% endfor %}<br />
{% endifnotequal %}

{% ifnotequal object.get_songs.count 0 %}
 <b>Active Group Songs:</b><br />
 {% for song in object.get_songs.all %}
  {% include "webview/t/songname.html" %} by {% for artist in song.artists.all %}{% with artist as A%}{% include "webview/t/artist.html" %}{% endwith %}{% if forloop.last %} {% else %}, {% endif %} {% endfor %}
  <span data-name="a_queue_{{ song.id }}">{% include "webview/t/songlist_span_noauth.html" %}</span><br />
 {% endfor %}<br />
{% endifnotequal %}
</td>
</tr>
</table>
{% endblock %}
