{% extends "base/base.html" %}

{% block title %}Pending Link Approvals{% endblock %}

{% block main %}
{% load dv_extend %}<h2><img class="icon_header" src="{{ MEDIA_URL }}link.png" alt="" />Pending Link Approvals</h2>
<p>The following links are listed as 'Pending'. Check the information is OK before approving them!</p>

{% if text_links %}
 <h2><img class="icon_header" src="{{ MEDIA_URL }}link.png" alt="" />Pending Text Links</h2>
 {% for link in text_links.all %}
  {% with link as L %}{% include "webview/t/link_text.html" %} [<a href="{{ L.url_cat.get_absolute_url }}" title="See All Links In Category">{{ L.url_cat.name }}</a>] {% include "webview/t/pending_link_toolbar.html" %}{% if forloop.last %}{% else %}<br />{% endif %}{% endwith %}
 {% endfor %}
{% endif %}
{% endblock %}
