{% extends "base/base.html" %}
{% load dv_extend %}
{% block title %}Audio Streams{% endblock %}

{% block main %}
<h2>{% site_name %} Audio Streams</h2>
{% include "webview/stream_instructions.html" %}
<br />
{% for stream in object_list %}
<div class="bubbleInfo">
    {{ stream.country_code|flag|safe }} <a href="{{ stream.url }}" class="trigger">{{stream.name}}</a> ({{ stream.bitrate }} kbps {{ stream.get_streamtype_display }})
<div class="popup">
    <b>Stream Name:</b> {{ stream.country_code|flag|safe }} {{stream.name}}<br />
    <b>Direct Stream Link:</b> <a href="{{ stream.url }}">{{stream.name}}</a><br />
    {% ifnotequal stream.streamtype 'S' %}<b>PlayList File:</b> <a href="{{ stream.url }}.m3u">M3U</a><br />{% endifnotequal %}
    <b>Stream Info:</b> {{ stream.get_streamtype_display }} - {{ stream.bitrate }} kbps<br />
    {% if stream.description %}{{ stream.description|linebreaks }}{% endif %}
    </div>
</div><br/>
{% endfor %}

<h2>Recommended Players</h2>
The audio streams can be played on many different programs and platforms, including:<br />
<br />
<a href="https://winamp.com/" target="_blank">Winamp</a> (Windows Only)<br />
<a href="https://www.foobar2000.org/" target="_blank">Foobar2k</a> (Windows, Mac, iOs, Android & More!)<br />
<a href="https://www.videolan.org/" target="_blank">VLC</a> (Windows, Mac, Linux, iOS and Android)<br />
<a href="http://www.mplayerhq.hu/design7/news.html" target="_blank">Mplayer</a> (Windows, Mac, Linux)<br />
<a href="https://audacious-media-player.org/" target="_blank">Audacious</a> (Windows, Mac, Linux)<br />
<a href="https://www.un4seen.com/xmplay.html" target="_blank">XMPlay</a> (Windows, Linux, Mac & More)<br />
{% endblock %}
